<nav class="navbar navbar-dark bg-primary">
    <a class="navbar-brand" href="#">Water reading</a>
    <!-- <span class="navbar-text"> -->
       <label>{{consumerService.authorizedConsumer?.lastName + " " + consumerService.authorizedConsumer?.name + " " + consumerService.authorizedConsumer?.patronymic }}</label>
    <!-- </span> -->
    <ng-template [ngIf]="isLogin">
        <button class="btn btn-outline-danger my-2 my-sm-0" (click)="onExit()">Exit</button>
    </ng-template>
</nav>

<ngb-alert *ngFor="let alert of toastService.alerts" [type]="alert.type"
 header="alert.header" (closed)="toastService.closeAlert(alert)">
 {{ alert.message }}</ngb-alert>
  
<router-outlet></router-outlet>
